<html lang="en">
    <head>
        {% include "init_header.html" %}

        <style>
        </style>
        <script type="text/javascript">
        </script>
    </head>

    <div id='header'>
        {% include "header.html" %}
    </div>
    <body>
        <div id="main">
            <div class="container text-justify info">
                <h4 class="text-center heading-title">About us</h4>
                <p >
              Started In 2016, Rahilo is an online platform where in you can get a secured temporary accommodation within your budget for few days. Rahilo helps you stay in a new place with local experience, similar to how you stay in your own place, with comfort. </p>
              <p>Find A place across your town that feels like your own home.
                A flat for a night, a PG for a day or a room for 2 days, Rahilo is here for you to get you a right place with out a whole in your pocket. Finding friends in strangers, Rahilo helps you make network with new people.
            </p>
            </div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</html>
