<html lang="en">
    <head>
        {% include "init_header.html" %}
        <style>
        </style>
        <script type="text/javascript">
        </script>
    </head>

    <div id="header">
        {% include "header.html" %}
    </div>
    <body>
        <div id="main">
            <div class="container text-justify info">
                <h4 class="text-center heading-title">Blog</h4>
                <p> Coming soon... </p>
            </div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>

</html>
