<html lang="en">
<head>
    {% include "init_header.html" %}
<style>
</style>
<script type="text/javascript">
$(document).ready(
    function(){
    $("button").click(
        function(e){
        e.preventDefault();
        var postData = $("#form1").serialize();
        $.ajax({
            url: "{% url 'sendquery' %}",
            type: "post",
            data: postData,
            success: function(result) {
                $("#writeus").hide();
                $("#status").addClass("alert alert-success");
                $("#status").html(result["msg"]);

            },
            error: function () {
               $("#status").addClass("alert alert-danger");
               $("#status").html("Error occured while processing request");
            }
            });
        });
    });
</script>
</head>

<div id="header">
{% include "header.html" %}
</div>
<body>

<div id="main">
<div class="container clear-top">
    <div class="row">
        <div class="col-md-5">
            <h2 style="margin-top:0; text-align:left">Contact Us</h2>
            <h3>Mailing address</h3><br>
            <address> Flat No D3, Sai Annexe, <br> 16Th E Cross, 1st Main, <br> Pai Layout, Bengaluru,<br> Karnataka, India 560030</address>
            <h4>Any queries</h4>
            <p>Call: 9845198763</p>
        </div>

        <div class="col-md-4">
            <form id ="form1" role="form">
                {% csrf_token %}
                <div id="status"></div>
                <div id="writeus">
                <div class="form-group">
                    <lable for="name"><h4>How can we help?</h4></lable>
                    <input type="text" id="name" name="name"  class="form-control" placeholder="Name"  required>
                </div>

                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone number" required>
                </div>

                <div class="form-group">
                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required>
                </div>

                <div class="form-group">
                    <textarea id="message" name="message" class="form-control" placeholder="Leave your message here" required=""> </textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-offset-8">
                       <button id="submit" type="submit" class="btn btn-primary btn-lg">Send</button>
                    </div>
                    </div>
                 </div>
                 </div>
            </form>
        </div>
    </div>
    </div>
</div>
</body>

<div id="footer">
{% include "footer.html" %}
</div>
</html>
