<html lang="en">
    <head>
        {% include "init_header.html" %}
        <style>
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <div id="header">
        {% include "header.html" %}
    </div>
    <body>
        <div id="main">
            <div class="container text-justify info">
                <h4 class="text-center heading-title">FAQ's</h4>
                <p> <b> Am I eligible for the Service?

This service is for individuals and families who are homeless and have presented as homeless to Housing Options at Portsmouth City Council. A Housing Options Officer will determine, depending on your individual circumstances whether you can access the service.

What can I expect from the Temporary Accommodation Service?

You can expect a fully furnished and equipped self contained property, where you will live whilst Housing Options are investigating your individual homelessness application.

Tell me more about the service…….

When you are allocated a Temporary Accommodation property Portsmouth City Council will sign you up as a Licensee of the property.

When you move in you will be asked to read through and sign a Contract of Expectations. This sates what are obligations are whilst living in the property.

Support

A Roberts Centre Resettlement Worker will visit you on a regular basis, this is to ensure that the property is being lived in and to make sure that we provide the resettlement support that you need to move on to permanent accommodation.  We will discuss with you any support needs you may have and work with you in drawing up an action plan. Staff will offer you support with all aspects of managing tenancy, benefits claims, budgeting, employment and accessing specialist services.

Whilst you are living in Temporary accommodation you will be entitled to free Nursery Sessions at the Roberts Centre Nursery for children aged 0-5 years and free Play scheme for Children aged 5-13 Years.  You will also automatically be referred to a health visitor so that you have the opportunity to discuss any health or development issues. Staff will also assist you in securing school placements if required.

What people have said about living in Temporary Accommodation…. 

“Thank you all so much for the help you have given to me and my Son, just wanted to let you know how much it means to us”

“They have been fantastic, very empathetic.”

“ They are there for you if you need support”

Temporary Accommodation Service- Annual Report

We work with Portsmouth City Housing Service in providing self-contained temporary accommodation for homeless families and vulnerable single people. Families are accommodated whilst awaiting a decision on the eligibility for local authority housing or after a determination has been made and while suitable accommodation is sought for them. </b></p>
            </div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</html>
