 <style>

#footer, #header{

#background-color: red;
}

.foot-links a, .foot-links p{
  display: block;
  color: green;
  text-decoration: none;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

.foot-header{
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  color: rgb(63, 63, 63);
  padding-bottom: 20px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

body {

  padding-bottom: 120px;
}

</style>

    <div class="navbar navbar-default navbar-fixed-bottom" style="">

               <div  class="container" >

                  <div class="row">
                        <div class="col-md-3">
                            <div class="foot-header"><b>Rentspace.com</b></div>
                             <div class="foot-links">
                                <a href="http://localhost:8000/about" title="rentspace.com is a temporary accomdation reservation portal ">About Us</a>
                                <a href="http://localhost:8000/contact" title="Contact us for any queries">Contact Us</a>
                                <a href="http://localhost:8000/support" title="Support">Support</a>
                                <a href="http://localhost:8000/blog" title="Blog">Blog</a>
                                <a href="http://localhost:8000/careers" title="Careers">Careers</a>
                             </div>
                   
                        </div>
                        <div class="col-md-3">
                              <div class="foot-header"><b>Guest</b></div>
                              <div class="foot-links">
                                <a href="http://localhost:8000/help" title="Answers to all your questions on temporary accomdation">Help</a>
                                <a href="http://localhost:8000/faq" title="Frequently asked questions">FAQ</a>
                                <a href="http://localhost:8000/terms" title="Terms and conditions">Terms & Privacy</a>
                               </div> 
                             
                        </div>
                        <div class="col-md-3  text-center">
                              
                                <div class="footer-social">
                                  <a target="_blank" href="http://twitter.com/"><i class="fa fa-twitter-square fa-2x"></i></a>
                                  <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
                                  <a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                  <a target="_blank" href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                                </div>
            
                              <small>&copy; 2016-2017 rentspace.com, All rights reserved.</small>
                        </div>
                     </div>
              </div>
     
      
        </div>
  
