

<div id="header123" class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand logo" href="{% url 'home' %}"><b>Rentspace</b></a>
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right navMrg">
        {% if request.user.is_authenticated %}        

        <div class="dropdown">
          <a href="#" class=" btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> &nbsp;{{ user }}  </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'myaccount' %}" >My Account</a></li>
                <li><a href="{% url 'change_password' %}" >Change Password</a></li>
                <li><a href="{% url 'myposts' %}">Manage Postings</a></li>
                <li><a href="{% url 'shortlistedposts' %}">Shortlisted</a></li>
                <li><a href="{% url 'logout' %}"">Logout</a></li>
            </ul>
        </div>
      {% else %}

      <li><a href="{% url 'signin' %}" title="Login to make a reservation" class="login_a"> <span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      <li><a href="{% url 'signup' %}" title="Register new user" class="signup_a"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>

     {% endif %}
    </ul>
  </div>
</div>


