<html lang="en">

    <head>
        {% include "init_header.html" %}
        <style></style>
        <script type="text/javascript">
        </script>
    </head>
    <div id='header'>
        {% include "header.html" %}

    </div>

    <body>



        <section>
            <div id="main">
                <div class="main-slider setimg">
                    <div class="item">
                        <img src="../../media/main-slider01.jpg" class="img-responsive setimg" />
                    </div>
                    <div class="item">
                        <img src="../../media/main-slider02.jpg" class="img-responsive setimg" />
                    </div>
                </div>
                <div class="mask msk_hgt">

                    {% include "searchposts.html" %}
                </div>
            </div>
        </section>
        <section class="about text-center">
            <div id="main">
                <div class="container">
                    <div class="row">
                        <h1 class="heading-title">Whats's New Rahilo</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center service-box">
                        <img src="../../media/cup.png"/><br/>
                        <span>Luxury</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-sm-4 text-center service-box">
                        <img src="../../media/star.png"/><br/>
                        <span>Great Services</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-sm-4 text-center service-box">
                        <img src="../../media/mouse.png"/><br/>
                        <span>Online Reservation</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="heading-title">Top Destinations</h2>
                    </div>
                    <div class="grid">
                        <div class="col-sm-6 col-md-3 col-xs-6">
                            <figure class="effect-sadie">
                                <a href="#">
                                    <img class="img-responsive" src="../../media/gallery01.jpg" alt="pic2">
                                </a>
                                <figcaption>
                                    <h3>Singapore</h3>
                                    <p><a href="#">Book Now</a></p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6">
                            <figure class="effect-sadie">
                                <a href="#">
                                    <img class="img-responsive" src="../../media/gallery02.jpg" alt="pic2">
                                </a>
                                <figcaption>
                                    <h3>Goa</h3>
                                    <p><a href="#">Book Now</a></p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6">
                            <figure class="effect-sadie">
                                <a href="#">
                                    <img class="img-responsive" src="../../media/gallery03.jpg" alt="pic2">
                                </a>
                                <figcaption>
                                    <h3>Mumbai</h3>
                                    <p><a href="#">Book Now</a></p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6">
                            <figure class="effect-sadie">
                                <a href="#">
                                    <img class="img-responsive" src="../../media/gallery04.jpg" alt="pic2">
                                </a>
                                <figcaption>
                                    <h3>Dubai</h3>
                                    <p><a href="#">Book Now</a></p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials text-center">
            <div id="main">
                <div class="container">
                    <div class="row">
                        <h3 class="heading-title text-center">Testimonials</h3>
                        <div class="owl-carousel">
                            <div class="item">
                                <p>Nullam ac urna eu felis sit amet a augue. Sed neque sed ut nisi neque sed ut urna eu felis sit amet. Nemo enim ipsam voluptatem aspernatur aut odit aut fugit.
                                    Nullam ac urna eu felis sit amet a augue. Sed neque sed ut nisi neque sed ut urna eu felis sit amet. Nemo enim ipsam voluptatem aspernatur aut odit aut fugit.
                                </p>
                                <div class="client-name">
                                    <h5>Rebecca Doe</h5>
                                    <em>Happy Customer</em>
                                </div>
                            </div>
                            <div class="item">
                                <p>Nullam ac urna eu felis sit amet a augue. Sed neque sed ut nisi neque sed ut urna eu felis sit amet. Nemo enim ipsam voluptatem aspernatur aut odit aut fugit.
                                    Nullam ac urna eu felis sit amet a augue. Sed neque sed ut nisi neque sed ut urna eu felis sit amet. Nemo enim ipsam voluptatem aspernatur aut odit aut fugit.</p>
                                <div class="client-name">
                                    <h5>Rebecca Doe</h5>
                                    <em>Happy Customer</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
                   <ul class="nav nav-tabs nav-justified">
                     <li class="active"><a data-toggle="tab" href="#home">Manage Postings</a></li>
                     <li><a data-toggle="tab" href="#menu1">My Bookings</a></li>
                     <li><a data-toggle="tab" href="#menu2">Requests</a></li>
                     <li><a data-toggle="tab" href="#menu2">Profile</a></li>
                   </ul>

                   <div class="tab-content">
                     <div id="home" class="tab-pane fade in active">
                       <h3>HOME</h3>
                       <p>Some content.</p>
                     </div>
                     <div id="menu1" class="tab-pane fade">
                       <h3>Menu 1</h3>
                       <p>Some content in menu 1.</p>
                     </div>
                     <div id="menu2" class="tab-pane fade">
                       <h3>Menu 2</h3>
                       <p>Some content in menu 2.</p>
                     </div>
                   </div>
        -->
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
    <script>
        $('.main-slider').owlCarousel({
            items: 1,
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            margin: 0,
            nav: true
        });
        $('.owl-carousel').owlCarousel({
            items: 1,
            margin: 0,
            nav: true
        });
    </script>
</html>