

<html lang="en">
   <head>
      {% include "init_header.html" %}
      <style></style>
      <script type="text/javascript">
      </script>
   </head>
   <div id='header'>
      {% include "header.html" %}
      {% include "searchposts.html" %}
   </div>
   <body>

      <div id="main">
      </div>
            <!--
               <ul class="nav nav-tabs nav-justified">
                 <li class="active"><a data-toggle="tab" href="#home">Manage Postings</a></li>
                 <li><a data-toggle="tab" href="#menu1">My Bookings</a></li>
                 <li><a data-toggle="tab" href="#menu2">Requests</a></li>
                 <li><a data-toggle="tab" href="#menu2">Profile</a></li>
               </ul>
               
               <div class="tab-content">
                 <div id="home" class="tab-pane fade in active">
                   <h3>HOME</h3>
                   <p>Some content.</p>
                 </div>
                 <div id="menu1" class="tab-pane fade">
                   <h3>Menu 1</h3>
                   <p>Some content in menu 1.</p>
                 </div>
                 <div id="menu2" class="tab-pane fade">
                   <h3>Menu 2</h3>
                   <p>Some content in menu 2.</p>
                 </div>
               </div>
               -->
   </body>
   <div id="footer">
      {% include "footer.html" %}
   </div>
</html>

