
<title>Rahilo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="../../media/favicon.png" type="images/x-icon" />
<link rel="icon" href="../../media/favicon.png" type="images/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css">

<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
		crossorigin="anonymous"></script>

{% load staticfiles %}
<script src="{% static 'rahilo.js' %}"></script>
<script src="{% static 'owl.carousel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'owl.carousel.css' %}">
<link rel="stylesheet" href="{% static  'rahilo.css' %}">