         <script type="text/javascript">
         $(function() {

$("#search" ).click(function() {
                //alert( "Handler for .click() called." );
                $("#searchform").submit();
            });
        
        });

      
      </script>

         <div id="searchbar" class="container-fluid">
            <!-- daily rent min or maximum -->       
            <form id="searchform" action="{% url 'searchposts' %}" role="form" class="no-margin">
            <div class="row" style="margin-top:0px;">
               <div class="col-md-12 col-md-offset-3">
                  <input type="text" id="location" placeholder="Enter the locality or City" name="location">
                  <select class="selectpicker show-tick" name="accomtype" id="accomtype">
                     <option value="shared">Shared</option>
                     <option value="private">Private Room</option>
                  </select>
                  <select class="selectpicker" name="housetype" id="housetype">
                     <option value="pg">PG</option>
                     <option value="house">Independent</option>
                     <option value="flat">Flat</option>
                  </select>
                  <select class="selectpicker" name="accomfor" id="accomfor">
                     <option value="men">Boys</option>
                     <option value="women">Girls</option>
                     <option value="family">Family</option>
                  </select>
                  <a href="#" id="search" class="btn btn-primary">Search</a> <br/>
               </div>
            </div>
            </form>
          </div>