<html lang="en">
    <head>
        {% include "init_header.html" %}
        <style>
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <div id="header">
        {% include "header.html" %}
    </div>
    <body>
        <div id="main">
            <div class="container text-justify">
                <h4 class="text-center heading-title">Support</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim, purus sit amet dapibus accumsan, libero magna laoreet ante, eget faucibus ipsum sapien quis felis. Vestibulum efficitur efficitur egestas. Nam ornare quam elit, eget sodales eros sagittis et. Nulla sit amet pellentesque justo. Etiam at enim ac urna mattis malesuada vel quis lorem. Proin aliquam metus eu neque dapibus, eget commodo felis venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <p>In finibus dictum feugiat. Ut et laoreet magna. In ac nisl vel metus mollis porta. Nullam sit amet augue rutrum elit eleifend efficitur eget eget metus. Pellentesque interdum, nisl et sagittis gravida, elit mauris mollis ligula, sit amet malesuada tortor leo quis eros. Donec sem est, porta ut faucibus ut, fringilla quis lacus. Vestibulum sit amet nunc sit amet nunc ornare ullamcorper. In vulputate diam urna, eu scelerisque diam tincidunt a. Maecenas justo nisi, maximus ac augue eu, dignissim consectetur mauris. </p>
                <p>Pellentesque pharetra vel urna congue volutpat. Aenean vel nulla lobortis, elementum purus efficitur, maximus dui. Phasellus id ante ut arcu tempor lacinia eu non nisl. Donec eu tempor nibh. In turpis augue, volutpat id felis luctus, accumsan scelerisque orci. Vestibulum convallis ipsum ut neque pretium, sit amet hendrerit mauris pretium. Praesent in massa fringilla libero rhoncus rutrum. </p>
            </div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</html>
