<nav class="navbar navbar-default navbar-fixed-bottom">
               <div class="container">
                  <div class="row-fluid">
                        <div class="list col-lg-2 col-md-2 col-sm-3">
                            <div class="list-title">Rentspace.com</div>
                            <ul class="dropdown">
                            <li><a href="http://localhost:8000/about" title="rentspace.com is a temporary accomdation reservation portal ">About Us</a></li>
                            <li><a href="http://localhost:8000/contact" title="Contact us for any queries">Contact Us</a></li>
                            <li><a href="http://localhost:8000/support" title="Support">Support</a></li>
                            <li><a href="http://localhost:8000/blog" title="Blog">Blog</a></li>
                            <li><a href="http://localhost:8000/careers" title="Careers">Careers</a></li>
                          
                            </ul>
                        </div>
                        <div class="list col-lg-2 col-md-2 col-sm-3">
                              <div class="list-title">Guest</div>
                              <ul class="dropdown">
                              <li><a href="http://localhost:8000/help" title="Answers to all your questions on temporary accomdation">Help</a></li>
                              <li><a href="http://localhost:8000/faq" title="Frequently asked questions">FAQ</a></li>
                              <li><a href="http://localhost:8000/terms" title="Terms and conditions">Terms & Privacy</a></li>
                              </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 notice text-center">
                              
                                <div class="footer-social">
                                  <a target="_blank" href="http://twitter.com/"><i class="fa fa-twitter-square fa-2x"></i></a>
                                  <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
                                  <a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                  <a target="_blank" href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                                </div>
            
                              <small>&copy; 2016-2017 rentspace.com, All rights reserved.</small>
                        </div>
                     </div>
              </div>
     
        <br />
  </nav>
