<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css" rel="stylesheet" >

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link href="/static/kk/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/static/kk/js/fileinput.min.js"></script>

<style>
</style>
<script type="text/javascript">
 $(function() {
   $( "#avail_start_date" ).datepicker(
                { dateFormat: "yy-mm-dd" }
              );
            
    $( "#avail_end_date" ).datepicker(
                { dateFormat: "yy-mm-dd" }
              );
         });

 $(document).on('ready', function() {
        $("#photos").fileinput({
           
            maxFileCount: 2,
            uploadAsync: false,
            showUpload: true,
            /*
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
            uploadClass: "btn btn-info",
            uploadLabel: "Upload",
            uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
            */
        });
    });
$(document).ready(
        
    function(){
    $("button").click(
        function() {
            if ( $(this).attr("id") == "cancel") {
                  
                 $("#form1").attr("action","http://localhost:8000/posts/");
                 $("#form1").attr("method","get");
            } else if ( $(this).attr("id") == "submit") {
                 facilities = [];
            $('input:checkbox').each(function () {
              if (this.checked) {
                //alert($(this).val());
                facilities.push($(this).val())   

              }
              //var sThisVal = (this.checked ? $(this).val() : "");
             });
              
         
            alert(facilities); 
                 $("#form1").attr("action","http://localhost:8000/addpost/");
                 $("#form1").attr("method","post");
                  $('<input />').attr('type', 'hidden')
                  .attr('name', "facilities")
                  .attr('value', facilities)
                  .appendTo('#form1');
            }


            $("#form1").submit();
            //return false;
        });
}


);



</script>


</head>

<div id='header'>
{% include "header.html" %}
</div>
<body>
<div id="main">
<div class="container clear-top">




  <form id ="form1" role="form" enctype="multipart/form-data">
        
         
          <div class="col-md-9">
            <!-- <div class="panel panel-default"> -->
              <div class='panel-heading'>
                  <h3>Add Post </h3>
              </div>  
              <div class="panel-body">
                {{ msg }}
                <div class="form-group">
                  <label for="title" class="control-label col-md-3">Title</label>
                  <input type="text"  id="title" name="title" required title="required" value="{{post.title}}">
                </div> 
                <div class="form-group">
                  <label for="description" class="control-label col-md-3">Description</label>
                  <input type="text"  id="description" name="description" value="{{post.description}}">
                </div>  
                
                <div class="form-group">
                  <label for="rentperday" class="control-label col-md-3">Rent per day</label>
                  <div class="input-group">
                  <div class="input-group-addon">Rs</div>
                  <input type="text"  class ="col-md-3" id="rentperday" name="rentperday" value="{{post.rentperday}}">
                  
                  </div>

                </div>  



                <div class="form-group">

                    <label for="avail_start_date" class="control-label col-md-3">Available start date</label>
                    <div class="input-group">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text" class ="col-md-4" id="avail_start_date" name="avail_start_date" value="{{post.avail_start_date | date:"Y-m-d"}}" >

                    </div>
                </div>  

                <br/>  
                <div class="form-group">
                    <label for="avail_end_date" class="control-label col-md-3">Available end date</label>
                    <div class="input-group">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input type="text"  class ="col-md-4" id="avail_end_date" name="avail_end_date" value="{{post.avail_end_date | date:"Y-m-d" }}" >
                    </div>
                </div>  
                
                
                <br/>

              

                <!-- TODO Add checkboxes for facilities -->
              
                
                <!-- TODO add code to upload multiple photos -->
              

            <div class="form-group">  
                
                  <label for="address" class="control-label col-md-3">Address</label>
                  <div class="col-md-3">
                     <input type="text" class="input-normal" id="address" length ="100" name="address" placeholder="Address" value="{{post.address}}">
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="street" name="street" placeholder="Street" value="{{post.street}}">   
                  </div>   
               
              
                
                  <div class="col-md-3 col-md-offset-3">
                  <input type="text" id="city" name="city" placeholder="City" value="{{post.city}}">
                  </div>
                  <div class="col-md-3 ">
                  <input type="text" id="pincode" name="pincode" placeholder="Pincode" value="{{post.pincode}}">
                  </div>
                
                
                  <div class="col-md-3 col-md-offset-3">
                  <input type="text" id="state" name="state" placeholder="State" value="{{post.state}}">
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="country" name="country" placeholder="Country" value="{{post.country}}">
                  </div>
                
            </div>

            <div class="clearfix"> </div>
            
            
               
                
               
              <div class="form-group">
          
                 <label for="facilities" class="control-label col-md-3">Facilities</label>
              
              </div>

              <div class="clearfix"> </div>
              
              <div class="form-group">

              <div class="row">
              <div class="col-md-2 col-md-offset-1">
             <label class="checkbox-inline"><input type="checkbox" value="hotwater">Hot water</label>
             </div>
             <div class="col-md-2">
            <label class="checkbox-inline"><input type="checkbox" value="internet">Internet</label>
            </div>
            <div class="col-md-2">
            <label class="checkbox-inline"><input type="checkbox" value="ac">AC</label>
            </div>
            <label class="checkbox-inline"><input type="checkbox" value="security">Security</label>
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-1">
<label class="checkbox-inline"><input type="checkbox" value="cardaccepted">Card Accepted</label>
</div>
<div class="col-md-2">
<label class="checkbox-inline"><input type="checkbox" value="elevator">Elevator</label>
</div>
<div class="col-md-2">
<label class="checkbox-inline"><input type="checkbox" value="tv">Tv</label>
</div>

</div>
    </div>
        
          
        
          
         
                
              <div class="form-group">
               <label class="control-label col-md-3">Upload Photos</label>
               
              <input id="photos" name="photos" type="file" accept="image/*" class="file-loading" multiple>
              <div id="errorBlock" class="help-block"></div>
    
            
            </div>
          
             <div class="form-group">
                    <div class="col-md-offset-3">
                    <button id="submit" type="submit" class="btn btn-info">Submit</button>
                    <button id="cancel" type="submit" class="btn btn-info">Cancel</button>     
                  </div>  
             </div>


          </div>   

        </div>
       
             

     
        
    </form>
  
</div>
</div>

   

</body>
<div id="footer">
{% include "footer.html" %}
</div>

</html>
