

<html lang="en">
    <head>
        {% include "init_header.html" %}
        <style>

        </style>
        <script type="text/javascript">

        </script>
    </head>
    <div id='header'>
        {% include "header.html" %}
    </div>
    <body>
        <div id="main">
            <div class="container clear-top">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <form role="form" >
                            {% csrf_token %}
                            {{ msg }} <br/>
                            <a href="{% url 'addpost' %}" class="btn orange-btn" role="button">Add Post</a>
                            {% for post in posts %}
                            <div class="record property-listing">
                                {% if post.postphotos.all %}
                                {% with post.postphotos.all|first as image %}
                                <a href="/showpost/?id={{post.id}}">
                                    <img src="{{image.photo.url}}" alt="IMG" class="img-rounded img-responsive" >
                                </a>
                                {% endwith %}
                                {% else %}
                                <a href="/showpost/?id={{post.id}}">
                                    <img src="https://lh6.ggpht.com/ItcoMm0qVG2JsPnPJVN4Ece6vlXhnYt9E069Iw2lJpKj2_lKml-iV41ur9iaa5XQxg=h900" alt="IMG" class="img-rounded img-responsive" >
                                </a>
                                {% endif %}
                                <div class="postdetails clearfix" >
                                    <a href="/showpost/?id={{post.id}}"> <h4> {{ post.title }} </h4> </a>
                                    <address>{{post.address}} &nbsp; {{post.street}} &nbsp; {{post.city}} &nbsp; {{post.pincode}}</address>

                                    <div class="Availablefor">
                                        <h5> Available for <b>{{ post.accom_for }}</b></h5>                               
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 house-rate">
                                            RENT
                                            <span> Rs {{ post.rentperday }} </span>
                                        </div>
                                        <div class="col-xs-6 house-rate">
                                            SECURITY DEPOSIT
                                            <span> Rs {{ post.deposit }} </span>
                                        </div>
                                    </div>
                                </div>

                                {% if shortlistedposts %}

                                <div class="no-gutter row listing-btn">                            
                                    <div class="col-xs-6">
                                        <a href="{% url 'shortlistpost' %}?id={{post.id}}" class="btn btn-block bt-create btn-sortlist" role="button"><img src="../../media/sortlist-icon.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Shortlist</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="{% url 'contactpostowner' %}?id={{post.id}}" class="btn btn-block bt-create" role="button"><img src="../../media/contact-icon.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Contact</a>
                                    </div>
                                </div>

                                {% elif not post.is_active   %}
                                <div class="col-md-2" >
                                    <div class="row  button">
                                        <a href="{% url 'activatepost' %}?id={{post.id}}" class="btn btn-block btn-sortlist" role="button">Activate</a>
                                    </div>
                                </div>

                                {% else  %}
                                <div class="no-gutter row listing-btn">
                                    <div class="col-sm-6">
                                        <a href="{% url 'updatepost' %}?id={{post.id}}" class="btn bt-create btn-block" role="button">Edit</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'deletepost' %}?id={{post.id}}" class="btn btn-block btn-sortlist" role="button">Delete</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</html>

