<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css" rel="stylesheet" >

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body>


<div id='header'>
{% include "header.html" %}
</div>

<div id="footer">
{% include "footer.html" %}
</div>
<div class="container">

<form role="form" >
 {{ msg }} <br/>   
    <a href="http://localhost:8000/addpost/" class="btn btn-info" role="button">Add Post</a>
    <h4> show posts here </h4>
    {% for post in posts %}
         <a href="http://localhost:8000/showpost/?id={{post.id}}" class="btn btn-link" role="button">{{post.description}}</a> <br/>
    {% endfor %}    
</form>

</div>

</body>
</html>
