<html lang="en">
   <head>
      {% include "init_header.html" %}
      <style>
         .big-box,
         .mini-box {
         background-color: #10BCFF;
         color: white;
         text-align: center;
         margin: 2px;
         font-size: 1.5em;
         }
         .big-box {
         height: 65px
         }
         hr {
         display: block;
         margin-top: 0.5em;
         margin-bottom: 0.5em;
         margin-left: auto;
         margin-right: auto;
         border-style: inset;
         border-width: 0.5px;
         }
         ul{
         list-style-type:none;
         }
         li {
         margin-top:4px;
         }
         p{
         text-align:justify;
         }
         div .row {
         margin-top:10px;
         }
         
         .strike_service {
            text-decoration: line-through; 
            font-weight: lighter;
          }

          .heading2 {
            color:  #595959;
            font-size: 18px;
            //text-decoration: underline;
          }
          .heading1 {
            color:  #595959;
            font-size: 20px;
            //text-decoration: underline;
          }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          //alert('hello');
        

          facilities = "{{post.facilities}}"
          var fac = facilities.split(","); 

          //alert (fac);
          $('#services ul li').each(function () {
          if ($.inArray($(this).attr("id"), fac) == -1){
             //alert($(this).attr("id"));
             $(this).addClass("strike_service");
            }
          });

        });

      </script>
   </head>
   <div id="header">
      {% include "header.html" %}
   </div>
   <body>
      <div id="main">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                 
                   <div class="heading1"> {{ post.title }} </div>
                   <h5>  </h5>
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">

                          {% for image in post.postphotos.all %}
                            {% if forloop.first %}
                                <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                            {% else %}
                           <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                            {% endif %}
                           {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                  
                
                           

                {% for image in post.postphotos.all  %}
                    {% if forloop.first %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                  <img src="{{image.photo.url}}" alt="{{image.photo.name}}">
                  <div class="carousel-caption">
                    <h3> {{post.title}} </h3>
                  </div>
                </div>
                {% endfor %}
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                     </div>
                </div>
               <div class="col-md-3">
                  <div class="row" style="text-align:center; margin-top:30px" >
                      Available for <b>{{ post.accom_for }}</b> <br/>
                      Accomdation type <b>{{ post.accom_type }}</b> <br/>
                      House type <b>{{ post.house_type }}</b>
                     <hr/>
                  </div>
                  <div class="row">
                    <address>
                       {{post.address}} &nbsp; {{post.street}} &nbsp; {{post.city}} &nbsp; {{post.pincode}} &nbsp; {{post.state}}
                    </address>
                    <hr/>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        Rent per day
                     </div>
                     <div class="col-md-6">
                        Security deposit 
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <b> Rs {{ post.rentperday }} </b>
                     </div>
                     <div class="col-md-6">
                        <b> Rs {{ post.deposit }} </b>
                     </div>
                  </div>
                  <hr/>
                  <div class="row">
                     
                        <div class="col-md-4">
                          <a href="{% url 'updatepost' %}?id={{post.id}}" class="btn btn-info btn-block" role="button">Edit</a> 
                        </div>
                     
                     
                        <div class="col-md-4">
                           <a href="{% url 'deletepost' %}?id={{post.id}}" class="btn btn-info btn-block" role="button">Delete</a> 
                        </div>

                        <div class="col-md-4">
                          <a href="/myposts" class="btn btn-info btn-block" role="button">Back</a>    
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8">
                   <div class="heading2"> Amenities and Services </div>
                  <hr/>
                  <div class="row" id="services">
                     <div class="col-md-4">
                        <ul>
                           <li id="tv" > TV </li>
                           <li id="refrigerator"> Refrigerator </li>
                           <li id="microwave"> Microwave </li>
                           <li id="washingmachine"> Washing Machine </li>
                           <li id="waterpurifier"> Water Purifier </li>
                           <li id="laundry"> Laundry </li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul>
                           <li id="toilet"> Western Toilet </li>
                           <li id="bathroom"> Attached Bathroom </li>
                           <li id="watersupply"> 24 Hrs Water Supply </li>
                           <li id="geyser"> Geyser </li>
                           <li id="wifi"> WiFi </li>
                           <li id="sofa"> Sofa </li>
                           <li id="cooking"> Cooking Allowed </li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul>
                           <li id="elevator"> Elevator </li>
                           <li id="parking"> Parking </li>
                           <li id="gym"> Gym </li>
                           <li id="security"> Security </li>
                           <li id="powerbackup"> Power Backup </li>
                           <li id="housekeeping"> House Keeping </li>
                           <li id="cctv"> CCTV </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8">
                  <div class="heading2"> About this property </div>
                  <hr/>
                  <p> {{ post.description }} </p>
               
              </div>
            </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="heading2"> Rules </div>
                  <hr/>
                  <ul style="font-style: italic;">
                     <li> No restrictions on entry </li>
                     <li>Documents proof required </li>
                     <li> Guests not allowed </li>
                     <li>Drinking not allowed</li>
                     <li>Smoking  not allowed </li>
                  </ul>  

               </div>
              </div>
         </div>
      </div>
   </body>
   <div id="footer">
      {% include "footer.html" %}
   </div>
</html>