<html lang="en">
<head>
  {% include "init_header.html" %}
<style>
</style>

<script type="text/javascript">
$(document).ready(
    function(){
    $("button").click(
        function(e){
        e.preventDefault();
        var postData = $("#form1").serialize();
        $.ajax({
            url: "{% url 'update_password' %}",
            type: "post",
            data: postData,
            success: function(result) {
                //.toLowerCase()
                if (result.status == 'success') {
                    $("#status").addClass("alert alert-success");
                    $("#status").html("Password is changed successfully. Please login with your new password. Redirecting to login page...");
                    setTimeout(function(){window.location = "{% url 'signin' %}";}, 5000);
                } else {
                     $("#status").addClass("alert alert-danger");
                      $("#status").html(result["msg"]);
                }
            },
            error: function () {
               $("#status").addClass("alert alert-danger");
               $("#status").html("Error occured while processing request");
            }
            });
        });
    });
</script>


</head>

<div id='header'>
{% include "header.html" %}
</div>

<body>

<div id="main">
{% csrf_token %}
<div class="container clear-top">
<form id="form1">
    {% csrf_token %}
    <div class="col-sm-6 col-xs-12">
    <h3>Change Password</h3>
    <div id="status"></div>

    <div class="form-group">
       <input type="password" class="input-xlarge"  id="old_password" name="old_password"
        placeholder="Enter current password">
    </div>
    <div class="form-group">
        <input type="password" id="new_password" name="new_password" placeholder="New Password"> 
    </div>

    <div class="form-group">
        
        <input type="password" class="input-xlarge" id="repeat_new_password" name="repeat_new_password" placeholder="Confirm new password">
    </div>
    <button class="btn btn-primary btn-lg">submit</button>
    </div>
</form>
</div>
</div>
</body>
<div id="footer">
{% include "footer.html" %}
</div>
</html>
