<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css" rel="stylesheet" >

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
</style>

<script>
$(document).ready(
    function(){
    $("button").click(
        function(){
        var postData = $("form").serialize();
        $.ajax({
            url: "http://localhost:8000/updatepassword/", 
            type: 'POST',
            data: $('form.password').serialize(),
            success: function(result) {
                $("#div1").html(result["msg"]);
            },
            error: function () {
               alert("error");
            }        
            });
        });
    });
</script>


</head>
<body>


<div id='header'>
{% include "header.html" %}
</div>

<div id="footer">
{% include "footer.html" %}
</div>

<div class="container">
    <div id="div1"></div>
    <form  class="password">
    <fieldset> 
        <ul class="nav nav-list">
        <li class="nav-header">Change Password</li>
        <li class="nav-header">Current Password</li>  
        <li><input class="input-xlarge" type="password" name="old_password"></li>  

         <li class="nav-header">New Password</li>  
         <li><input class="input-xlarge" type="password" name="new_password"></li>  
    
         <li class="nav-header">Repeat Password</li>  
         <li><input class="input-xlarge" type="password" name="reset_password"></li>  
    </ul>
    </fieldset> 
    </form>
    <button class="btn btn-default" type="submit">submit</button>
</div>
    <!--
    <label for="changepassword">Change Password</label><br/>
    <label for="currentpassword">Current Password:</label><br/>
    <input type="password" id="curpwd" name="curpwd"> <br/>

    <label for="newpassword">New Password:</label><br/>
    <input type="password" id="newpwd" name="newpwd"> <br/>

    <label for="newpassword">New Password(Again):</label><br/>
    <input type="password" id="newpwd-rep" name="newpwd-rep"> <br/>
   
    <button type="submit" class="btn btn-default">Update</button>  
    -->

</body>
</html>
