<html lang="en">
  <head>
     {% include "init_header.html" %}

    <style>
    </style>
    <script>
      var idcardtype = "{{ user.id_card_type}}";
        $(function(){
            if (idcardtype == "PAN"){
                $('#idcardtype option[value="PAN"]').prop('selected', true);            
            } else if (idcardtype == "AADHAR"){
                $('#idcardtype option[value="AADHAR"]').prop('selected', true);            
            }
            $( "#date_of_birth" ).datepicker(
                { dateFormat: "yy-mm-dd" }
              );
          $("#submit").click(function(event){    
                event.preventDefault(); 
                var data = $("#form1").serialize();
                alert(data);
                $.ajax({
                      url: '/api/profile',
                      contentType:'application/x-www-form-urlencoded; charset=UTF-8',
                      dataType: 'json',
                      data: data,
                      type:'put'
                  }).done(handle_success)
                    .fail(handle_fail);
           }); 

        });  


        function handle_success(data,statusText,xhr){
            alert(data);
            $("div#alert").text(data.message)
            //location.href = "{% url 'register_success' %}"
         }

        function  handle_fail(xhr, statusText, errorThrown){
            alert(xhr)
            console.log(xhr);        
            var resp = xhr.responseJSON
            $("div#alert").text(resp.message)
        }
  
    
      <!--
        $(document).ready(
        function(){
          $("button").click(
            function(){
              var postData = $("form").serialize();
              $.ajax1({
                url: "/editprofile", 
                type: "POST",
                contentType: "multipart/form-data",
                data: $('form.profile').serialize(),
                success: function(result) {
                  $("#msg").html(result["msg"]);
                }
                ,
                error: function () {
                  alert("error");
                }
              }
                     );
            }
          );
        }
      );
      -->
    </script>
  </head>
   <div id='header'>
      {% include "header.html" %}
    </div>
 
  <body>
   

   
    <div id="main">
    <form  id="form1" method="post" class="form-horizontal" enctype="multipart/form-data">
       {% csrf_token %}
      <div class="container clear-top">
        <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class='panel-heading'>
              <h3>Edit Profile</h3>
            </div>

          <div class="panel-body">
            <div id="alert"> </div>
            <div class="form-group">
              <label for="username" class="control-label col-md-3">User name </label>
               <p class="form-control-static">{{ user }}</p>     
            </div>
            <div class="form-group">
              <label for="firstname" class="control-label col-md-3">First name</label>
               <input type="text" id="firstname" name="firstname" value="{{user.first_name}}" >    
            </div>
            <div class="form-group">
              <label for="lastname" class="control-label col-md-3">Last name</label>
               <input type="text" id="lastname" name="lastname" value="{{user.last_name}}" >    
            </div>

            <div class="form-group">
              <label for="phonenumber" class="control-label col-md-3">Phone number</label>
              <input class="input-xlarge" type="text" name="phonenumber" value= "{{ user.phone_number}}">
            </div>

            <div class="form-group">
              <label for="idcardtype" class="control-label col-md-3">ID Card</label>  
              <select  id="idcardtype" name="idcardtype">  
                <option value="AADHAR">Aadhar</option>
                <option value="PAN">Pan</option>
              </select>   
            </div>
 
            <div class="form-group">
              <label for="idphoto" class="control-label col-md-3">Upload ID card</label> 

    

           <input id="idphoto" name="idphoto" type="file" /> 
            </div>

            <div class="form-group">
              <label for="gender" class="control-label col-md-3">Gender</label>  
              <label class="radio-inline"> <input type="radio" name="gender" value="M" {% if user.gender in "M" %} checked {% endif %}>Male</label>
              <label class="radio-inline"> <input type="radio" name="gender" value="F" {% if user.gender in "F" %} checked {% endif %}>Female</label>
            </div>
            <div class="form-group">            
                 <label for="date_of_birth" class="control-label col-md-3">DOB</label> 
                 <input type="text" id="date_of_birth"  name="date_of_birth" value="{{user.date_of_birth | date:"Y-m-d" }}"> 

                 <!-- TODO use datepicker -->
            </div>
            <div class="form-group">  
                <div class="row"> 
                  <label for="address" class="control-label col-md-3">Address</label>
                  <div class="col-md-3">
                     <input type="text" class="input-normal" id="address" length ="100" name="address" placeholder="Address" value="{{user.address}}">
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <input type="text" id="street" name="street" placeholder="Street" value="{{user.street}}">   
                  </div>   
                </div>
                <div class="row"> 
                  
                </div>   
                <div class="row">
                  <div class="col-md-3 col-md-offset-3">
                  <input type="text" id="city" name="city" placeholder="City" value="{{user.city}}">
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                  <input type="text" id="pincode" name="pincode" placeholder="Pincode" value="{{user.pincode}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-3">
                  <input type="text" id="state" name="state" placeholder="State" value="{{user.state}}">
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <input type="text" id="country" name="country" placeholder="Country" value="{{user.country}}">
                  </div>
                </div>
            </div>


            <div class="col-md-offset-3">
            <div class="form-group">
                <input type="button" id="submit" class="btn btn-primary btn-lg" value="Update"></input> 
            </div>
          </div>
        </div>
      </div>

     </div> 
     <div class="col-md-6">
        {% if user.idphoto and user.idphoto.url %}
          <img class="img-responsive" src="{{user.idphoto.url}}" alt="{{user.idphoto.name}}"> 
        {% endif %}  
     </div>
     </div>
     </div>
    </form>

    </div>
  </body>
      <div id="footer">
      {% include "footer.html" %}
    </div>
</html>

