<html lang="en">
    <head>
        {% include "init_header.html" %}
        <style>
        </style>

        <script type="text/javascript">
            $(document).ready(
                    function () {
                        $("button").click(
                                function (e) {
                                    e.preventDefault();
                                    var postData = $("#form1").serialize();
                                    $.ajax({
                                        url: "{% url 'get_new_password' %}",
                                        type: "post",
                                        data: postData,
                                        success: function (result) {
                                            //.toLowerCase()
                                            if (result.status == 'success') {
                                                $("#status").addClass("alert alert-success");
                                                $("#status").html("An email has been sent with the instructions to reset password. Please  check the email.");
                                                //setTimeout(function(){window.location = "{% url 'signin' %}";}, 5000);
                                            } else {
                                                $("#status").addClass("alert alert-danger");
                                                $("#status").html(result["msg"]);
                                            }
                                        },
                                        error: function () {
                                            $("#status").addClass("alert alert-danger");
                                            $("#status").html("Error occured while processing request");
                                        }
                                    });
                                });
                    });
        </script>


    </head>

    <div id='header'>
        {% include "header.html" %}
    </div>

    <body>

        <div id="main" class="login-page">
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            {% csrf_token %}
            <div class="container clear-top">
                <form id="form1">
                    {% csrf_token %}
                    <div class="col-sm-6 col-xs-12 col-lg-offset-3">
                        <div class="login-box">
                            <div class="login-heading text-center">
                                <h3>Reset Password</h3>
                            </div>                            
                            <div id="status"></div>
                            <div class="form-group">
                                <input type="email" class="form-control"  id="user_email" name="user_email"
                                       placeholder="Enter user email id">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn orange-btn">submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
        </div>
    </body>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</html>
