<html lang="en">

<head>
  {% include "init_header.html" %}

 <style>
</style>
<script type="text/javascript">
</script>
</head>

  <div id='header'>
    {% include "header.html" %}
  </div>
<body>
<div id="main">
  <form role="form" action="{% url 'login' %}" method="post">
    <div class="container clear-top">
      <div class="col-lg-offset-1 col-lg-4">
        <div class="panel panel-default">
          <div class='panel-heading'>
            <h2>Login</h2>
          </div>
          <div class="panel-body">
            {{ msg }}
            <br/>
            <div class="form-group">
              <label for="username">Email</label>
              <br/>
              <input type="username" id="username" name="username">
              <br/>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <br/>
              <input type="password" id="pwd" name="pwd">
              <br/>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg">Sign In</button> &nbsp;&nbsp; <a href="{% url 'reset_password' %}">Forgot Password</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="panel panel-default">
          <div class='panel-heading'>
            <h2>New User?</h2>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <br/><br/>
              <a class="btn btn-primary btn-lg" role="button" href="{% url 'signup' %}">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</body>
  <div id="footer">
    {% include "footer.html" %}
  </div>

</html>
