<style>
	td {
		font-size: 12px;
	}
</style>
<script>

         $(".pagination a").click(function(e){
           var link =  $(this).prop("href");

            if (link.endsWith("admin#")){
              return false;
            }

            $.ajax({
                url: link,
                type: "get",
                success: function(response) {
                   $( "#result" ).html( response );
                },
                error: function(xhr) {
                   $( "#result" ).html("some error occurred");
                }
            });
            return false;

        });

         $(".verify").click(function(e){
            var postid = $(this).attr('id');
            var link = $(this);
            alert(postid);
            $.ajax({
                url: "{% url 'verifypost' %}",
                type: "post",
                data:{postid:postid},
                success: function(response) {
                   link.text("Verified");
                   link.contents().unwrap();
                },
                error: function(xhr) {
                    $( "#status" ).html( "error occurred");
                    link.text("Error:Try Again");
                }
            });

        });

        $(".viewimage").click(function(e){
            var postid = $(this).prop("id");

             $.ajax({
                url: "{% url 'post_images' %}",
                type: "get",
                data:{postid:postid},
                success: function(response) {
                   $( "#images" ).html( response );
                },
                error: function(xhr) {
                   $( "#images" ).html("some error occurred");
                }
            });
            $("#imagemodal").modal("show");
            return false;
        });

</script>
{% load mytemplatetags %}
{% csrf_token %}
Total records: {{ posts.paginator.count }} ## Page {{posts.number}} of {{posts.paginator.num_pages}}
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>RentPerDay</th>
        <th>deposit</th>
        <th>House/Accomdation Type</th>
        <th>Accomdation For</th>
        <th>Address</th>
        <th>Images</th>
        <th>Status</th>
        <th>IsActive</th>
        <th>IsVerified</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <div id="status"> </div>
        </tr>
      {% for post in posts %}
      	<tr>
        <td>{{ post.title}}</td>
        <td>{{ post.description}}</td>
        <td>{{ post.rentperday}}</td>
        <td>{{ post.deposit}}</td>
        <td>{{ post.house_type}}/{{ post.accom_type}}</td>
        <td>{{ post.accom_for}}</td>
        <td>{{ post.address}}</td>

        {% if post.postphotos.all %}
          <td><a href="#" data-toggle="modal" id="{{post.id}}" class="btn btn-info viewimage">View Image</a></td>
         {% else %}
          <td> Not Uploaded </td>
        {% endif %}
        <td>{{ post.status}}</td>
        <td>{{ post.is_active}}</td>
        {% if post.is_verified %}
          <td>Verified</td>
        {% else %}
          <td><a href="#" id="{{post.id}}" class="btn btn-info verify">Verify</a></td>
        {% endif %}
        </tr>
      {% empty %}
        <tr>
        No Data Found
        </tr>
      {% endfor %}

    </tbody>
  </table>


  <div align="center">
  <ul class="pagination">
    <li>
        {%  if posts.has_previous %}
          <a href="{{ page_url }}?page={{posts.previous_page_number}}">&laquo;</a>
        {% else %}
          <a href="#">&laquo;</a>
        {% endif %}
    </li>
    {% for i in posts.paginator.num_pages|get_range %}
      {% if posts.number == i   %}
        <li><a href="{{ page_url }}?page={{i}}" style="background-color:cyan" >{{ i }}</a></li>
      {% else %}
        <li><a href="{{ page_url }}?page={{i}}"> {{ i }}</a></li>
      {% endif %}
    {% endfor %}

    <li>
      {%  if posts.has_next %}
        <a href="{{ page_url }}?page={{posts.next_page_number}}">&raquo;</a>
      {% else %}
        <a href="#">&raquo;</a>
      {% endif %}
    </li>
  </ul>
  </div>



    <div id="imagemodal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div id="images" class="modal-body">
              </div>
          </div>
        </div>
  </div>