<style>
	td {
		font-size: 12px;
	}
</style>
<script>
          $(".verify").click(function(e){
            var postid = $(this).attr('id');  
            var link = $(this);
            $.ajax({
                url: "verifypost",
                type: "get", 
                data:{postid:postid},
                success: function(response) {
                   //alert(response); 
                   //alert(link.attr('id'));
                   $( "#status" ).html( response);
                   link.text("Verified");
                   link.contents().unwrap();

                },
                error: function(xhr) {
                    $( "#status" ).html( "error occurred");
                    $link.text("Error:Try Again");
                }
            });

        });
</script>
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>RentPerDay</th>
        <th>deposit</th>
        <th>House Type</th>
        <th>Accomdation Type</th>
        <th>Accomdation For</th>
        <th>Address</th>
        <th>Status</th>
        <th>IsActive</th>
        <th>IsVerified</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <div id="status"> </div>
        </tr>
      {% for post in posts %}
      	<tr>
        <td>{{ post.title}}</td>
        <td>{{ post.description}}</td>
        <td>{{ post.rentperday}}</td>
        <td>{{ post.deposit}}</td>
        <td>{{ post.house_type}}</td>
        <td>{{ post.accom_type}}</td>
        <td>{{ post.accom_for}}</td>
        <td>{{ post.address}}</td>
        <td>{{ post.status}}</td>
        <td>{{ post.is_active}}</td>
        {% if post.is_verified %}
          <td>Verified</td>
        {% else %}
          <td><a href="#" id="{{post.id}}" class="btn btn-info verify">Verify</a></td>
        {% endif %}
        </tr>
      {% empty %}
        <tr>
        No Data Found
        </tr>
      {% endfor %}

    </tbody>
  </table>