#header{
	margin-bottom:0px;
}

#searchbar{
	background-color:grey;
	margin-top:0px;
}

.no-margin {
	margin: 0px;
}

.postdetails{
    background-color:white;
    border-style:solid;
    border-color:white;
    margin-right:5px;
}

.button {
   margin-top: 30px;
}
.record {
    margin-top: 30px;
}
